{% extends "base.html" %}

{% block title %}Kindergarten list{% endblock %}

{% block content %}

    {% for kindergarten in kindergartens %}
        <a class="d-flex text-muted pt-3" style="text-decoration: none;" href="/kindergarten/{{ kindergarten.id }}">


            <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex justify-content-between">
                <div class="">
                    <strong class="text-gray-dark">{{ kindergarten }}</strong>
                    <p class="d-block pb-3 mb-0 small lh-sm">Address: {{ kindergarten.address }}</p>
                    <p class="d-block pb-3 mb-0 small lh-sm">Work days in week: {{ kindergarten.work_day_in_week }}</p>
                    <p class="d-block pb-3 mb-0 small lh-sm">Month price: {{ kindergarten.month_price }}</p>
                </div>
                <button type="button" class="btn h-50 btn-dark">delete</button>
            </div>
        </a>

    {% endfor %}

{% endblock %}