{% extends "base.html" %}

{% block title %}Kindergarten list{% endblock %}

{% block content %}
    <a class="btn h-50 btn-dark" href="/kindergarten/add">Add</a>
    {% for kindergarten in kindergartens %}
        <a class="d-flex text-muted pt-3" style="text-decoration: none;" href="/kindergarten/{{ kindergarten.id }}">


            <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex justify-content-between">
                <div class="">
                    <strong class="text-gray-dark">{{ kindergarten }}</strong>
                    <p class="d-block pb-3 mb-0 small lh-sm">Address: {{ kindergarten.address }}</p>
                    <p class="d-block pb-3 mb-0 small lh-sm">Work days in week: {{ kindergarten.work_day_in_week }}</p>
                    <p class="d-block pb-3 mb-0 small lh-sm">Month price: {{ kindergarten.month_price }}</p>
                    <p class="d-block pb-3 mb-0 small lh-sm">Children count: {{ kindergarten.children_count }}</p>
                </div>
                <form action="/kindergarten/{{ kindergarten.id }}/delete" method="post">
                    {% csrf_token %}

                    <button type="submit" class="btn h-50 btn-dark">Delete</button>
                </form>
            </div>
        </a>

    {% endfor %}

{% endblock %}