{% extends "base.html" %}

{% block title %}Kindergarten list{% endblock %}

{% block content %}
    <div class="d-flex text-muted pb-3 pl-5 border-bottom bd-example">
        {% if request.user.is_staff %}
            <a class="btn btn-primary m-1" href="/kindergarten/add/">Create new</a>
        {% endif %}
        <a class="btn btn-secondary m-1" href="/kindergartens/">Reload</a>

    </div>
    {% for kindergarten in kindergartens %}
        <div class="d-flex text-muted pt-3">


            <div class="pb-3 mb-0 small lh-sm border-bottom w-100 d-flex justify-content-between">
                <div>
                    <strong class="text-dark h4 d-block pb-3 mb-0">{{ kindergarten }}</strong>
                    <p class="d-block pb-3 mb-0 lh-sm">Address: {{ kindergarten.address }}</p>
                    <p class="d-block pb-3 mb-0 lh-sm">Work days in week: {{ kindergarten.work_day_in_week }}</p>
                    <p class="d-block pb-3 mb-0 lh-sm">Month price: {{ kindergarten.month_price }}</p>
                    <p class="d-block pb-3 mb-0 lh-sm">Children count: {{ kindergarten.children_count }}</p>
                </div>
                {% if request.user.is_staff %}
                    <div>
                        <form action="/kindergarten/{{ kindergarten.id }}/delete/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger mt-3 mb-3">Delete</button>
                        </form>
                        <a class="btn btn-outline-secondary mt-3 mb-3 w-100" href="/kindergarten/{{ kindergarten.id }}/payments/">Payments</a>
                        <a class="btn btn-outline-secondary mt-3 mb-3 w-100" href="/kindergarten/{{ kindergarten.id }}/">Edit</a>

                    </div>
                {% endif %}
            </div>
        </div>

    {% endfor %}

{% endblock %}