{% extends "base.html" %}

{% block title %}Children list{% endblock %}

{% block content %}
    <div class="border-bottom">
        <strong class="text-dark h4 d-block pb-3 mb-0">{{ child }}</strong>
        <p class="d-block pb-3 mb-0 lh-sm">Birthday: {{ child.birthday }}</p>
        <p class="d-block pb-3 mb-0 lh-sm">Group: {{ child.group }}</p>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Month</th>
            <th>Days attended</th>
            <th>Final Sum</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.month }}</td>
                <td>{{ payment.days_attended }}</td>
                <td>{{ payment.final_sum|stringformat:".2f" }}</td>
                <td>
                    {% if not payment.is_paid %}
                        <form action="/payment/{{ payment.id }}/pay/" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-danger">Pay
                            </button>
                        </form>
                    {% else %}
                        <button class="btn btn-outline-secondary" disabled>Paid
                        </button>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}