{% extends "base.html" %}

{% block title %}Children list{% endblock %}

{% block content %}
    <div class="d-flex text-muted pb-3 pl-5 bd-example">
        <a class="btn btn-secondary m-1" href="/group/{{ group.id }}/children">Back</a>
    </div>
    <div class="pb-3 pl-5 border-bottom bd-example">
        <h3>Kindergarten: {{ kindergarten }}</h3>
        <h4>Payments for {{ month }}</h4>
        <h4>Work days: {{ month.work_day_count }}</h4>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Full name</th>
            <th>Group</th>
            <th>Days attended</th>
            <th>Final Sum</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for child,attendance in child_to_attendance.items %}
            <tr>
                <td>{{ child }}</td>
                <td>{{ child.group }}</td>
                <td>{{ attendance.days_attended }}</td>
                <td>{{ attendance.final_sum|stringformat:".2f" }}</td>
                <td>
                    <a class="btn btn-outline-secondary w-100"
                       href="/child/{{ child.id }}/edit_payment/month/{{ month.id }}/kindergarten">Change payment</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}